<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brand Favorites</title>
    <link rel="stylesheet" type="text/css" href="brands.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


</head>
<body>
<div class="container col-md-12">
    <h2 align="center">Better Brand?</h2>
</div>
<div class="container col-md-10 col-md-offset-1">
    <table align="center" class="table table-bordered">
        <tr align="center">
            <td>
                <div class="voteDisplay"><img src="http://brandfavorites.s3.amazonaws.com/{{first.imageLink}}"></div>
            </td>
            <td>
                <div class="voteDisplay"><img src="http://brandfavorites.s3.amazonaws.com/{{second.imageLink}}"></div>
            </td>
        </tr>
        <tr align="center">
            <td>
                {{first.name}}
            </td>
            <td>
                {{second.name}}
            </td>
        </tr>
        <tr align="center">
            <td>
                <form action="/vote" method="post">
                    <input type="hidden" name="id" value="{{first.id}}"/>
                    <input type="hidden" name="loserId" value="{{second.id}}"/>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Vote</button>
                </form>
            </td>
            <td>
                <form action="/vote" method="post">
                    <input type="hidden" name="id" value="{{second.id}}"/>
                    <input type="hidden" name="loserId" value="{{first.id}}"/>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Vote</button>
                </form>
            </td>
        </tr>
        <tr align="center">
            <td>
                <form action="/unknown" method="post">
                    <input type="hidden" name="id" value="{{first.id}}"/>
                    <button class="btn btn-default btn-sm" type="submit">Unknown Brand</button>
                </form>
            </td>
            <td>
                <form action="/unknown" method="post">
                    <input type="hidden" name="id" value="{{first.id}}"/>
                    <button class="btn btn-default btn-sm"  type="submit">Unknown Brand</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="links">
    <a href="/rankings">Brand Rankings</a><br/>
    <a href="/upload">Upload a new Brand</a>
</div>
<br/>
<br/>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>