<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand Rankings</title>
    <link rel="stylesheet" type="text/css" href="brands.css">

</head>
<body>

<table width="75%" align="center">
    <tr>
        <th>Brand Name</th>
        <th>Brand Image</th>
        <th>ELO Rating</th>
    </tr>
    {{#brands}}
    <tr align="center">
        <td>{{name}}</td>
        <td><div class="square"><img src="{{imageLink}}"></div></td>
        <td>{{eloRating}}</td>
    </tr>
    {{/brands}}
</table>

<div class="links">
    <a href="/">Return to Voting</a>
</div>


</body>
</html>