<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brand Rankings</title>

    <link rel="stylesheet" type="text/css" href="brands.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>

<div class="container col-md-12">
    <h2 align="center">Brand Rankings</h2>
    <div class="links">
        <a href="/">Return to Voting</a>
    </div>
</div>
<div class="container col-md-8 col-md-offset-2">
    <table align="center" class="table table-bordered vertical-aligned">
        <tr>
            <th>Brand Name</th>
            <th>Brand Image</th>
            <th>ELO Rating</th>
        </tr>
        {{#brands}}
        <tr align="center">
            <td>{{name}}</td>
            <td><div class="square"><img src="http://brandfavorites.s3.amazonaws.com/{{imageLink}}"></div></td>
            <td>{{eloRating}}</td>
        </tr>
        {{/brands}}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>